body{
  position:relative;
  width:100%
  height:100%
  background-color:brown;
 
  color:black;

}
img{
  /* display:block */
  height:300px;
  width:300px;
  margin:auto;
  padding-left: 350px;
  padding-bottom: 550px


  
}

.onBtn,.offBtn{
  height:40px;
  width: 80px;
  background-color:wheat;
  border-radius: 30px;
  font-weight: bolder;
  border-color: wheat;


}
  

.buttonB,.buttonH,.buttonS{
   
  height:40px;
  width: 80px;
  background-color:wheat;
  border-radius: 30px;
  font-weight: bolder;
  border-color:wheat;
  
 
}

span{
  font-size: large;
  font-weight: bolder;
 
}

#x{
  
  position:absolute;
  top:60%;
  left:55%;
  margin:-150px 0 0 -150px;
};
 
